extends baseEmail.pug

block content
    p Hello #{name},
    p I am very glad, that you have joined me on this great adventure of Learning JavaScript!
    p If you have not tried to register on our site, please contact the administrator.
