extends base

block content
    .inner
        .form-wrap
            form.form(method="POST")
                h2.form__title Reset your password :)
                .form__field
                    label.form__label(for="password") Password
                    input.form__input(type="password" id="password" name="password" required minlength="8")
                .form__field
                    label.form__label(for="passwordConfirm") Confirm password
                    input.form__input(type="password" id="passwordConfirm" name="passwordConfirm" required minlength="8")
                .form__field
                    input.form__submit(type="submit" value="Reset")
