extends base.pug

block content
    .inner
        section.hero
            .hero__content.hero__content--main(style=`background-image: url('./../img/pages/hero.jpg');`)
                .hero__layer(style=`background-color: rgba(255, 255, 255, 0.09)`)
                .hero__text--main
                    h2.hero__title David Wood
                    h3.hero__subtitle I am a Developer

